/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Forum&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-forum: Forum sans-serif;
  --font-work: "Work Sans" sans-serif;
}
:root {
  font-family: "Work Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #e1dfdc;
  text-decoration: inherit;
}
a:hover {
  color: #f1f1f1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

/* h1 { */
/* font-size: 3em; */
/* line-height: 1.1; */
/* } */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
} */
